
<!doctype html><html lang="pl"><head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}MeCloneMe{% endblock %}</title>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="/static/css/mc_next.css">
</head><body>
<div class="header"><a href="/"><img src="/static/img/logo_mecloneme.png" class="logo" alt="MeCloneMe"></a><a class="start" href="/">Start</a></div>
{% block content %}{% endblock %}
<script src="/static/js/mc_next.js"></script>
</body></html>
